@charset "UTF-8";

*{
    margin : 0px;
    padding : 0px;
    font-family: 'Nanum Square','맑은 고딕','Apple SD Gothic Neo', sans-serif;
}

#hero{
    align-items:center;
    background-color: #262133;
    background-position: center;
    background-size:cover;
    color: #ffffff;
    text-align: right;
}

#hero .content{
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    opacity: 1;
}
#hero h1{
    font-size: 20vw;
}
.ProfileImage{
    display: inline-block;
}
.ProfileImage img{
    width: 15vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 50%;
    border:3px solid #7E6CA8;
}
.infobox{
    display: inline-block;
    text-align: left;
    font-size:3vw;
}
.conTypeA{
    background-color: #262133;
    display: flex;
    position: absolute;
    height: 100%;
    margin-bottom:auto;
    min-height: 390px;
    width: 100%;
}
.Doc{

    background-color: #fff;
    width: 100vw;
    padding-top: 4vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 4vh;
    margin-bottom: auto;
}
.Doc h1{
    font-size:10vw;

}
.Doc img{
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.Blink{
    text-decoration:blink;  
    animation-name: blinker;
	animation-duration: 0.8s;
	animation-iteration-count:infinite;
	animation-timing-function:ease-in-out;
	animation-direction: alternate;
}

@media (min-width: 768px){
    #hero h1{
        font-size: 154px;
    }
    #hero .content{
        width:768px;
        margin-left:auto;
        margin-right:auto;
    }
    .outsideLink a{
        font-size: 61px;
    }
    .Doc h1{
        font-size:77px;
    }
    .ProfileImage img{
        width: 115px;
        height: 115px;
    }
    .infobox{
        font-size: 22px;
    }
    .Doc{

        width:768px;
        margin-left:auto;
        margin-right:auto;

        padding-left:40px;
        padding-right:40px;
    }
}
@keyframes blinker {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}