@charset "UTF-8";
*{
    margin : 0px;
    padding : 0px;
    font-family: 'Noto Sans KR', 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

:root{
    background-color: #262133;
}

#hero{
    background-color: #262133;
    background-position: center;
    background-size:cover;
    color: #ffffff;
    text-align: center;
}

#hero .content{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 1;
    padding-top: 3rem;
}

.conTypeA{
    background-color: #262133;
    display: inline-block;
    position: absolute;
    margin-bottom:auto;
    min-height: 390px;
    width: 100%;
}

.Doc{
    background-color: #fff;
    width: 100%;
    margin-bottom: auto;
}

#pBand{
    background-color:#ff4ea4;
    height: 5px;
    margin-bottom: 2px;
}
#fBand{
    background-color:#0470ff;
    height: 5px;
    margin-bottom: 2px;
}
#aBand{
    background-color:#ffce01;
    height: 5px;
    margin-bottom: 2px;
}

#docContents{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 4vh;
}

#docContents ul{
    padding-left: 3rem;
}
#docContents li{

}

#docContents h2{
    margin-top: 1rem;
}
#docContents a{
    color: #7E6CA8;
    text-decoration: none;
}


.Doc h1{
    color: #7E6CA8;
    font-size: 5rem;
}
.Doc h2{
    color: #7E6CA8;
    font-size: 2rem;
}
.ProfileImage{
    text-align: center;
    margin-top: 2rem;
    display : block ;
    text-align : center ;
}

.ProfileImage img{
    display : inline-block;
    width: 10rem;
    height: 10rem;
    padding:0px;

    object-fit: cover;
    border-radius: 50%;
    border:3px solid #7E6CA8;
}


@media (min-width: 768px){
    #hero .content{
        width:688px;
        padding-left: 40px;
        padding-right: 40px;
        margin-left:auto;
        margin-right:auto;
    }
    .Doc h1{
        color:#7E6CA8;
    }

    .pBand{
        height: 5px;
        width:768px;
        margin-left:auto;
        margin-right:auto;
    }
    .fBand{
        height: 5px;
        width:768px;
        margin-left:auto;
        margin-right:auto;
    }
    .aBand{
        height: 5px;
        width:768px;
        margin-left:auto;
        margin-right:auto;
    }
    .Doc{
        width:768px;
        margin-left:auto;
        margin-right:auto;       
    }
    #docContents{
        padding-left:40px;
        padding-right:40px;
    }
}
